body{
    background-color: #e6b7c1;
}
h2{
    text-align: center;
    margin-top: 10vh;
    font-size: 2rem;
}
.down{
    margin-top: 3vh;
}


.levelbuttons button{
    font-size: 1.2rem;
    padding: 0 40px;
    margin-top: 2rem;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    border-color: rgb(243, 139, 3);
    font-family: 'Expletus Sans', cursive;
    
  }
  
   .levelbuttons button.level1{
    left: 80%;
    -webkit-appearance: none;
    background-image: linear-gradient(to right, #050505, #4c286d, #0e65d6, #12021b);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
     background-size: 500%; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
  
  } 
  
  .levelbuttons button.level1:hover{
    
    animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
    
  }

  .sol{
      margin-left: 2vw;
      margin-top: 5vh;
  }