/* 

#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff
  url('../Images/page-loader.gif')
  no-repeat center;
  z-index: 99999;
}

html {
  font-size: 16px;
}
body {
  background-image: linear-gradient(45deg, #000000, #000000, #5b5761, #192c31);
  font-family: futura-pt, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}
.box {
  position: relative;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  width: 100%;
  max-width: 700px;
  padding: 30px 20px;
  border: solid .5px #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .1),
             -4px -4px 10px rgba(0, 0, 0, .1);
  background-color: rgba(255, 255, 255, .1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.ic-account {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, .1);
  background-image: url(ic_account.svg);
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.login-form-input {
  outline: none;
  width: 100%;
  margin: 10px auto;
  padding: 15px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, .1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.login-form-input::placeholder {
  color: #fff;
}
.login-form-btn {
  width: 100%;
  height: 50px;
  margin: 20px auto 10px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  color: #3d3935;
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
}
.text {
  text-align: center;
  font-size: 14px;
  color: #FFF;
  margin: 0;
  padding: 0;
}
.text a {
  color: #FFF;
}
.login-form-btn:hover,
.text a:hover {
  opacity: .8;
}
.circle-01 {
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #ff0000, #ff5520);
}
.circle-02 {
  position: absolute;
  left: -40px;
  bottom: -40px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #06bef7, #f20cdf);
}
@media screen and (max-width: 480px) {
  #container {
    height: auto;
    align-items: flex-start;
  }
} */

/* @charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* Nav Bar */
.nav {
  height: 4.7rem;
  width: 100%;
  background-color: transparent;
  position: fixed;
  font-family: "Quicksand", sans-serif;
  z-index: 33;
}
nav.active {
  position: fixed;
  z-index: 9000000;
  left: 0;
  right: 0;
  top: 0;
  height: 4.7rem;
  background-color: black;
  transition: background-color 0.5s;
}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2rem;
  color: whitesmoke;
  padding: 20px 10px 0px 30px;
}
.nav > .nav-header > .nav-title a {
  color: whitesmoke;
  text-decoration: none;
}
.nav > .nav-header > .nav-title a:hover {
  color: cyan;
}
.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.4rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 23px 20px 0px 7px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  color: aquamarine;
}

.nav > #nav-check {
  display: none;
}
.nav-links #disusername {
  color: #9af802;
  font-size: 35px;
  font-family: "Dancing Script", cursive;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 14px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 14px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 8px;
    border-top: 3px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;

    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    font-size: 1.6rem;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/* NavBar End */

.main__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url("../Images/page-loader.gif") no-repeat center;
  z-index: 99999;
}

html {
  font-size: 16px;
}
body {
  background-image: linear-gradient(45deg, #000000, #000000, #5b5761, #192c31);
  font-family: futura-pt, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}
.box {
  position: relative;
}
.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  width: 100%;
  max-width: 700px;
  padding: 30px 20px;
  border: solid 0.5px #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.ic-account {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  background-image: url(ic_account.svg);
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.login-form-input {
  outline: none;
  width: 100%;
  margin: 10px auto;
  padding: 15px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.login-form-input::placeholder {
  color: #fff;
}
.login-form-btn {
  width: 100%;
  height: 50px;
  margin: 20px auto 10px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  color: #3d3935;
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
}
.text {
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}
.text a {
  color: #fff;
}
.login-form-btn:hover,
.text a:hover {
  opacity: 0.8;
}
.circle-01 {
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #ff0000, #ff5520);
}
.circle-02 {
  position: absolute;
  left: -40px;
  bottom: -40px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #06bef7, #f20cdf);
}
@media screen and (max-width: 480px) {
  #container {
    height: auto;
    align-items: flex-start;
  }
}
*/ body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
