@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@import url(https://allfont.net/allfont.css?fonts=edo);
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
body {
  margin: 0px;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url("../Images/page-loader.gif") no-repeat center;
  z-index: 99999;
}

.nav {
  height: 4.7rem;
  width: 100%;
  background-color: transparent;
  position: fixed;
  font-family: "Quicksand", sans-serif;
  z-index: 33;
}
nav.active {
  position: fixed;
  z-index: 9000000;
  left: 0;
  right: 0;
  top: 0;
  height: 4.7rem;
  background-color: black;
  transition: background-color 0.5s;
}
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2rem;
  color: whitesmoke;
  padding: 20px 10px 0px 30px;
}
.nav > .nav-header > .nav-title a {
  color: whitesmoke;
  text-decoration: none;
}
.nav > .nav-header > .nav-title a:hover {
  color: cyan;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.4rem;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 23px 20px 0px 7px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  color: aquamarine;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 14px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 14px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 8px;
    border-top: 3px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;

    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    font-size: 1.6rem;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* Nav Bar Ends */

.First-pg {
  width: 100%;
  height: 86%;
  background-image: url(../Images/ques.png);
}
.pos {
  width: 330px;
  margin-left: 55rem;
  padding-top: 8rem;
}
.low-txt {
  border: 2px solid transparent;
  position: absolute;
  top: 7rem;
  left: 1.9rem;
  width: 600px;
  height: 280px;
  color: azure;
}

@media only screen and (max-width: 600px) {
  .First-pg {
    max-width: 100vw;
    height: 130vh;
  }
  .pos {
    margin-left: 0%;
    margin-top: -5%;
  }
  .low-txt {
    border: 2px solid transparent;
    height: 60vh;
    width: 95vw;
    left: 2%;
    top: 50vh;
  }
  .levelbuttons {
    margin-top: 0vh;
  }
}

.low-txt p {
  font-family: "Expletus Sans", cursive;
  font-size: 1.5rem;
  color: azure;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
span {
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.bottom-pg {
  width: 100%;
  height: 23%;
  background-image: url(../Images/lines.png);
}

.levelbuttons {
  position: relative;
  display: flex;
}

.levelbuttons button {
  font-size: 1.2rem;
  padding: 0 40px;
  margin-top: 2rem;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  border-color: rgb(243, 139, 3);
  font-family: "Expletus Sans", cursive;
}

.levelbuttons button.level1 {
  margin-left: 5%;
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    #050505,
    #4c286d,
    #0e65d6,
    #12021b
  );
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
  background-size: 500%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.levelbuttons button.level1:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.levelbuttons button.level2 {
  margin-left: 10%;
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    #050505,
    #4d1d1d,
    #968c87,
    #044436
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  background-size: 500%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.levelbuttons button.level2:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100%;
  }
}

#dialog {
  width: 100%;
  height: 100%;
  transform: scale(0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(192, 192, 192, 0.8);
  transition: all 400ms ease-in;
}

#dialog:target {
  transform: scale(1);
}

#dialog-content {
  width: 330px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -10rem;
  background: #fff;
  border-radius: 12px;
}

#dialog-text {
  margin: 1.5em 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

#dialog-actions {
  padding-bottom: 1.5em;
  text-align: center;
}

#dialog-actions button {
  margin-right: 1em;
  cursor: pointer;
  background: white;
  font-size: 1.3rem;
  font-family: "Varela Round", sans-serif;
  padding: 0.8em 2.4em;
  border: transparent;
}
