<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
<link rel="stylesheet" href="../Stylesheet/contact.css">
<link rel="stylesheet" href="./Stylesheet/comp.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Contact us </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>

<body onload="myfunction()">
  <div id="loading"></div>
  <%- include('navbar') %>
  <div class="overall">
<div class="wrapper1 centered">
  <article class="letter">
    <div class="side">
      <form action="/contact" method="POST">
      <h1>Contact us</h1>
      <p>
        <label for="message"></label>
        <textarea name="message"placeholder="Your message"></textarea>
      </p>
    </div>
    <div class="side">
      <div class="abwe">
      <p>
        <label for="name"></label>
        <input name="name" type="text" placeholder="Your name" >
      </p>
      <p>
        <label for="email"></label>
        <input name="email" type="email" placeholder="Your email" >
      </p>
    </div>
      <p>
        <button id="sendLetter">Send</button>
      </p>
    </form>
    </div>
  </article>
  <div class="envelope front"></div>
  <div class="envelope back"></div>
</div>
<p class="result-message centered">Thank you for your message</p>
</div>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-8216c69d01441f36c0ea791ae2d4469f0f8ff5326f00ae2d00e4bb7d20e24edb.js"></script>

  
      <script id="rendered-js" >
function addClass() {
  document.body.classList.add("sent");
}

sendLetter.addEventListener("click", addClass);
//# sourceURL=pen.js
    </script>
<%- include('footer') %>
<script>
  var preloader = document.getElementById('loading');
  function myfunction(){
    preloader.style.display = 'none'
  }
</script>
<script src="../Script/contact.js"></script>
<script src="../Script/landing.js"></script>
<script src="https://app.wotnot.io/chat-widget/DQe4zYPDTpP30641273921554d8pb0Qs.js" defer></script>
</body>

</html>
 
