<!-- <footer>
  <div class="footer-content">
    <ul class="wrapper">
      <li class="facebook">
        <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="twitter">
        <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="instagram">
        <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="google">
        <a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="whatsapp">
        <a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>
      copyright &copy;2021 GBU. Designed by <span>Ashu, Sanksriti, Arjun</span>
    </p>
  </div>
</footer> -->

<footer>
  <div class="footer__container">
    <div class="left__footer">
      <div class="footer__heading">Quiz Land</div>
      <div class="footer__icons">
        <div class="footer__icon google">
          <a class="icon__container"
            ><i class="fa fa-google icon" aria-hidden="true"></i
          ></a>
        </div>
        <div class="footer__icon linkedin">
          <a class="icon__container"
            ><i class="fa fa-linkedin icon" aria-hidden="true"></i
          ></a>
        </div>
        <div class="footer__icon twitter">
          <a class="icon__container"
            ><i class="fa fa-twitter icon" aria-hidden="true"></i
          ></a>
        </div>
        <div class="footer__icon envelope">
          <a class="icon__container"
            ><i class="fa fa-envelope icon" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="right__footer">
      <div class="copyright">
        <div><a>About</a></div>
        <div>Copyright @2021 GBU</div>
      </div>
      <div class="privacy__policy">
        <div>Privacy Policy</div>
      </div>
    </div>
  </div>
</footer>
