
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="https://demo.plantpot.works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://use.typekit.net/opg3wle.css">
    <link rel="stylesheet" type="text/css" href="../Stylesheet/login.css">
</head>
<body onload="myfunction()">
    <div id="loading"></div>
    <div id="container">
        <div class="box">
          <div class="form-box">
            <div class="ic-account"></div>
    <form id="login-form" name="login-form" action="/register" method="POST"> 
            <label for="username"></label>
            <input id="email" class="login-form-input" type="text" name="username" placeholder="Username" required> 
            <label for="password"></label>
            <input id="password" class="login-form-input" type="text" name="password" placeholder="Password" required> 
            <button class="login-form-btn" >SIGN UP <button>
        <p class="text"> <a href="/login">Login</a>
    </form>
   </div>
   <div class="circle-01"></div>
   <div class="circle-02"></div>
   </div>
   </div>
   <script>
    var preloader = document.getElementById('loading');
    function myfunction(){
      preloader.style.display = 'none'
    }
  </script>
</body>
</html>