<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>takeAnswers</title>
</head>
<body>
    <form action="/takeanswers" method="POST"> 
        <label for="number"></label>
        <input type="text" name="number" placeholder="Answers" required> </input>
        <label for="answer1"></label>
        <input type="text" name="answer1" placeholder="Answers" required> </input>
        <label for="answer2"></label>
        <input type="text" name="answer2" placeholder="Answers" required> </input>
        <label for="answer3"></label>
        <input type="text" name="answer3" placeholder="Answers" required> </input>
        <label for="answer4"></label>
        <input type="text" name="answer4" placeholder="Answers" required> </input>
        <label for="answer5"></label>
        <input type="text" name="answer5" placeholder="Answers" required> </input>
        <label for="answer6"></label>
        <input type="text" name="answer6" placeholder="Answers" required> </input>
        <label for="answer7"></label>
        <input type="text" name="answer7" placeholder="Answers" required> </input>
        <label for="answer8"></label>
        <input type="text" name="answer8" placeholder="Answers" required> </input>
        <label for="answer9"></label>
        <input type="text" name="answer9" placeholder="Answers" required> </input>
        <label for="answer10"></label>
        <input type="text" name="answer10" placeholder="Answers" required> </input>
        <button >SUBMIT <button>
</form>
</body>
</html>